PROJECT_NAME=AgriOS ML Service
VERSION=1.0.0
MODEL_DIR=./models_bin
DISEASE_MODEL_PATH=./models_bin/disease_classifier.h5
YIELD_MODEL_PATH=./models_bin/yield_regressor.pkl
PRICE_MODEL_PATH=./models_bin/price_forecaster.pkl
ML_SIDECAR_TOKEN=agrios_internal_secure_sidecar_token_123
